<!DOCTYPE>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=1280">
<meta name="format-detection" content="telephone=no">
<title>Roogle</title>
<link rel="stylesheet" href="css/main.css">
<script src="js/angular.js"></script>
<script src="js/controllers.js"></script>
<script src="js/ang-fnd.js"></script>
</head>
<body ng-controller="MainCtrl">

<div class="block_with_search">
  <div class="wrapper">
   <div class="find_block_center">
    <div class="roogle_title_and_logo">
      <h1><a href="#">Roogle</a></h1>
      <a href="#">
        <div class="logo_page1">
          rust-lang.org
        </div>
      </a>
    </div>
    <div class="forma_search">
      <form>
        <input type="search">
        <input type="submit" value="search">
      </form>
      <div class="what_search">
        map
      </div>
    </div>
   </div>
  </div>
</div>
<div class="clear"></div>
<div class="result_search_block">
  <div class="wrapper">
   <div class="find_block_center">
    <div class="result_search_spisok" ng-repeat="search_item in search_items">
    <!-- Блок с результатом -->
      <div class="result_search_item">
        <div class="what_we_search">
          <a href="#">map</a> :: <span>(a ->b) -> [a] ->[b]</span>
        </div>
        <div class="result_razdel">
          base Prelude, base Data.list
        </div>
        <div class="plus" ng-click="hideElem(search_item.id, false)" ng-show="search_item.is_hidden">
        </div>
        <div class="minus" ng-click="hideElem(search_item.id, true)" ng-hide="search_item.is_hidden">
        </div>
        <div class="result_main_anons_block">
          <div class="result_anons">
            {{ $index }}
            {{ search_item.anons_text }} <br/>
            map f xs is the list obtained by applying f to each element of xs, i.e., > map f [x1, x2, ..., xn] == [f x1, f x2, ..., f xn] > map f [x1, x2, ...] == [f x1, f x2, ...]
          </div>
          <div class="result_anons_hidden" ng-hide="search_item.is_hidden">
            {{ search_item.hidden_text }} <br/>
            map f xs is the list obtained by applying f to each element of xs, i.e., > map f [x1, x2, ..., xn] == [f x1, f x2, ..., f xn] > map f [x1, x2, ...] == [f x1, f x2, ...]
          </div>
        </div>
      </div>
      <!-- конец блока -->
    </div>
   </div>
  </div>
</div>
<!--
<script src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
  $(".plus").click(function(){
    $(".plus").removeClass("plus").addClass("minus");
    $(".result_anons_hidden").show();
  });
  $(".minus").click(function(){
    $(".minus").removeClass("minus").addClass("plus");
    $(".result_anons_hidden").hide();
  });
</script>
-->
</body>
</html>
